<div class="heading-text">
    {% include '@atoms/03-headings/heading-1.twig'
        with{
            "heading1": heading1
        }
    %}
    {% include '@atoms/05-paragraph/paragraph.twig'
        with{
            "paragraphContent": paragraphContent
        }
    %}
</div>