<div class="image-heading-text">
    {% include '@atoms/04-images/image.twig'
        with{
            "img_src": img_src
        }
    %}
    {% include '@atoms/03-headings/heading-2.twig'
        with{
        "heading2": heading2
    }
    %}
    {% include '@atoms/05-paragraph/paragraph.twig'
        with{
            "paragraphContent": paragraphContent
        }
    %}
</div>