<div class="sponsor-text-button">
    {% include '@atoms/05-paragraph/paragraph.twig'
        with{
        "paragraphContent": paragraphContent,
    }
    %}
    {% include '@atoms/02-buttons/button.twig'
        with{
        "link": link,
        "text": text
    }
    %}
</div>
