{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}


{#


{% if title %}
    <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
    {%
        set row_classes = [
        default_row_class ? 'views-row',
    ]
    %}
    <div{{ row.attributes.addClass(row_classes) }}>
        {{ row.content }}

    </div>
{% endfor %}


#}




{% set events = [] %}
{% for row in rows %}
    {% set events = events|merge([{ 'paragraphContent' :  row.content['#row']._entity.field_event_descrip[0].value, 'img_src' :   file_url(row.content['#row']._entity.field_event_image.entity.fileuri), 'heading2':  row.content['#row']._entity.field_event_title[0].value}]) %}


{% endfor %}

{% include "@organisms/05-image-heading-text-3column/image-heading-text-3column.twig"
    with {
        "events": events
    }
%}


