

<div class="block-system-branding-block">
    <a class="site-logo" href="#" title={{ companyName }} rel="home">
        <img src={{ logoLocation }} class="c-logo" alt={{ companyName }} />
    </a>
</div>