
<section class="index-dual-buttons container">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {% include '@molecules/03-text-button/text-button.twig' %}
            </div>
            <div class="col-md-6">
                {% include '@molecules/03-text-button/text-button.twig' %}
            </div>
        </div>
    </div>
</section>