<header>
    <div class="container">
        {% include '@molecules/01-logo/logo.twig'
            with{
            "logoLocation": "../../images/site-images/logo.png",
            }
        %}
        {% include '@molecules/02-navigation/menu.twig' %}
    </div>
</header>